.authForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 100px;
  max-width: 600px;
  padding: 20px;
}

.authForm * {
  margin-bottom: 10px;
}

.authForm > h1 {
  text-align: center;
}

input {
  height: 20px !important;
}
