.headerContainer {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end; */
}

.navlink {
  margin: 5px;
  color: gray;
  align-self: center;
}

.navlink:hover {
  color: black;
}

.activeNavLink {
  color: black;
}
