.authForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.authForm > h2 {
  text-align: center;
}

.formCard {
  margin-left: auto;
  margin-right: auto;
  min-width: 100px;
  max-width: 600px;
  padding: 20px;
  background-color: rgb(255, 255, 240);
  margin-bottom: 20px;
  margin-top: 50px;
}
