html,
body {
  margin: 0;
  height: 100%;
}

.background {
  z-index: -1;
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://s1.1zoom.me/b5050/447/346493-admin_2560x1440.jpg?fbclid=IwAR3HA2jjim2R10AONvDVuTKCoHbl3AMp_EAjlmW9XX5xE3Pk0VTNhiZkJW8');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.app {
  height: 100%;
}

.title {
  text-align: center;
  color: black;
}
