html,
body {
  margin: 0;
  height: 100%;
}

body .MuiInputBase-root .MuiInput-underline,
.MuiInput-underline::before,
.MuiInput-underline::after,
.MuiInput-underline:focus,
.MuiOutlinedInput-input {
  border: none !important;
  border-bottom: none !important;
  content: none !important;
}

body input,
label {
  margin-left: 10px !important;
}

.background {
  z-index: -1;
  position: absolute;
  margin: 0;
  width: 100%;
  margin-top: 80px;
  height: 100%;
  /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
  background-image: url(assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.app {
  height: 100%;
}

.title {
  text-align: center;
  color: black;
}

.titleContainerNotLogged {
  margin: 5px;
  padding: 2px;
}

body .MuiTypography-root,
.MuiCardContent-root {
  font-family: 'Gill Sans', sans-serif;
}

body .MuiTypography-h2 {
  padding-top: 20px;
}

body .MuiTypography-caption {
  padding: 10px;
}