html,
body {
  margin: 0;
  height: 100%;
}

.background {
  z-index: -1;
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
  background-image: url(assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.app {
  height: 100%;
}

.title {
  text-align: center;
  color: black;
}

.titleContainerNotLogged {
  margin: 5px;
  padding: 2px;
}
